html {
	background-color: #fffef8;
  color: #086788;
  font-family: 'Josefin Slab', serif;
  // font-family: 'Arvo', serif;
  font-size: 20px;
}


  @media (max-width: 800px) {
    html {
      font-size: 16px;

      fieldset {
        width: 8em;
      }
      input {
        width: 150%;
      } 
    }
  }

  @media (min-width: 1000px) {
    html {
      font-size: 28px;
    }

    fieldset {
      width: 8em;
    }

    input {
      width: 200%;
    }

    svg.graph {
      top: 2em;
    }
  }

h1 {
  // color: #07393C;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.1em;
  padding: 0.5em;
}

input {
  background-color: transparent;
  border: none;
  // color: rgba(255, 189, 232, 0.4);
  // color: rgba(0, 220, 255, 0.75);
  color: #e83100;
  // color: #F15025;
  font-family: 'Josefin Slab';
  font-family: 'Arvo', serif;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;

  outline-color: #0aa8cc;
  padding: .5em;
  // text-shadow: 4px 1px 0 rgb(208, 43, 43);
  // text-shadow: 4px 1px 0 rgba(255, 45, 45, 0.75)
// text-shadow: 4px 1px 0 rgba(0, 0, 0, 0.75);

}

sup {
  font-size: 0.5em;  
}

.app {
  overflow: hidden;
}

.controls-component {
  position: fixed;
  z-index: 2;
}

.data {
  font-size: .3em;
  opacity: 0.1;
}

.graph {
  $delta: #086788;

  left: 0;
  position: fixed;
  top: 0;

  [class*="area"],
  [class*="line"] {
    fill-opacity: .1;
    stroke-width: 0.3;
  }

  .twitter-area {
    fill: #e83100;
  }

  .facebook-area {
    fill: #086788;
  }

  .delta-line {
    fill-opacity: .05;
    fill: $delta;
    stroke: $delta;
    stroke-width: 1.3px;
  }

  g {
    fill: none;
    font-size: 0.8em;
    stroke: #086788;
    stroke-width: 0.5px;
  }

  g.y-axis-twitter,
  g.y-axis-twitter .tick {
    stroke: #ff663e;
    fill-opacity: .1;
    font-size: 0.7em;
  }

  g.y-axis-delta,
  g.y-axis-delta .tick {
    stroke: $delta;
    stroke-width: 0.8px;
  }
}

.artist-searched {
  background-color: rgba(255, 255, 255, 0.7);
  color: #e83100;
  font-size: 0.8em;
  left: 110px;
  padding: .5em;
  position: absolute;
}

.accessible {
  left : -9999em;
  position: absolute;
}

.hidden {
  visibility: hidden;
}