html {
	background-color: #fffef8;
  color: #086788;
  font-family: 'Josefin Slab', serif;
  // font-family: 'Arvo', serif;
  font-size: 20px;
}


  @media (max-width: 800px) {
    html {
      font-size: 16px;

      fieldset {
        width: 8em;
      }
      input {
        width: 150%;
      } 
    }
  }

  @media (min-width: 1000px) {
    html {
      font-size: 28px;
    }

    fieldset {
        width: 8em;
      }
      input {
        width: 200%;
      } 
  }

h1 {
  // color: #07393C;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: none;
}

legend {
  padding: 0.5em;
}

input {
  background-color: transparent;
  border: none;
  // color: rgba(255, 189, 232, 0.4);
  // color: rgba(0, 220, 255, 0.75);
  color: #e83100;
  // color: #F15025;
  font-family: 'Josefin Slab';
  font-family: 'Arvo', serif;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;

  outline-color: #0aa8cc;
  padding: .5em;
  // text-shadow: 4px 1px 0 rgb(208, 43, 43);
  // text-shadow: 4px 1px 0 rgba(255, 45, 45, 0.75)
// text-shadow: 4px 1px 0 rgba(0, 0, 0, 0.75);

}

.accessible {
  left : -9999em;
  position: absolute;
}